<div id="lists" class="page" class="section" ng-controller="ListCtrl">
  <div ng-repeat="(id, list) in list" class="list">
    <a ng-href="/lists/{{ id }}">
    <div class="content">
      <div class="title">{{ list.name }}</div>
      <div class="desc">{{ list.desc }}</div>
      </div>
    </div>
    </a>
  </div>

  <div id="add-list-form">
    <form ng-submit="addList()">
      <input type="text" ng-model="listName" size="30"
             placeholder="list name">
      <input type="text" ng-model="listDesc" size="30"
             placeholder="list description (optional)">
      <input class="btn" type="submit" value="add">
    </form>
  </div>
</div>