<div class="section page" ng-controller="TodoCtrl">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    [ <a href="" ng-click="archive()">archive</a> ]
    <ul class="todos">
      <li ng-repeat="(id, todo) in todos">
        <input type="checkbox" ng-model="todo.done" ng-change="toggleCompleted(id)">
        <span class="done-{{todo.done}}">{{ todo.text }}</span> <input class="btn" type="button" ng-click="editTodo(id)" value="edit">
      </li>
    </ul>

    <form ng-submit="addTodo()">
      <input type="text" ng-model="todoText" size="30"
             placeholder="todo text">
      <input class="btn-primary" type="submit" value="add">
    </form>
</div>